<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About This Site</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> About This Site </h1>
    <p> This is a learning project, for MGJ to discover how to create web pages using python.</p>
    <p> Credit should be given to the Flask web framework for python, and to this tutorial from freecodecamp.com: 
    <li><a href="https://www.freecodecamp.org/news/how-to-build-a-web-application-using-flask-and-deploy-it-to-the-cloud-3551c985e492/">how-to-build-a-web-application-using-flask-and-deploy-it-to-the-cloud</a></li>
      
    {% endblock %}
  </body>
</html>