<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Page!</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> New Page! </h1>
    <p> This is a new page. To create it, I needed to edit the main.py file to add the url, add an html file to the templates folder to create this content, and then add a link in the templates.html file, so that the link would show up at the top of the page. </p>
      
    {% endblock %}
  </body>
</html>